# if Statements

In [3]:
#increment the value by 1
a=int(input("Enter a number"))
if type(a)==int:
    print(a+1)
else:
    print("Correct the input and try again.")

Enter a number34
35

In [6]:
#Determine weather a person is eligible to vote by using  input 
age=int(input("enter your age:"))
if age>=18:
    print("You are elegible to vote.")
else:
    print("Sorry! You have to wait a little more.")

enter your age:18
You are elegible to vote.

# if - else Statements

In [7]:
#Determine weather a person is eligible to vote by using input 
age=int(input("enter your age:"))
if age>=18:
    print("You are elegible to vote.")
else:
    print("Sorry! You have to wait a little more.")

enter your age:3
Sorry! You have to wait a little more.

In [13]:
#find the number is even or odd by using input 
value=int(input("Enter the number:"))
if value%2==0:
    print("The entered value is an even number.")
else:
    print("It is an odd number.")

In [11]:
# A company decides to give bonus to all its employees on New year. A 10% bonus on salary for all the male workers and
# 25% to females. build a programme to enter Salary and Gender(m or F) of employee. 
salary=float(input('enter your current salary:'))
gender=input("Enter your gender M or F:")

if gender=='M':
    salary=salary*1.1
    print("Your new salary is %7.2f" %(salary))
elif  gender=='F':
    salary=salary*1.25
    print("Your new salary is %7.2f" %(salary))

enter your current salary:25000
Enter your gender M or F:M
Your new salary is 27500.00

# if -elif- else Statement

In [12]:
# check weather the number is positive or negitive or equal to zero using input
number=int(input("Enter a number:"))
if number>0:
    print("Positive.")
elif number==0:
    print("Equals to 0.")
else:
    print("Number is less than 0.")

Enter a number:-7
Number is less than 0.

In [14]:
# Test Weather the charcter is vowel or not vowel using input
test_vowel=input("enter a character:")
if test_vowel in 'aeiouAEIOU':
    print("is Vowel.")
else:
    print("is not a Vowel.")

enter a character:E
is Vowel.

In [22]:
#Given an integer input perform the following conditional actions:
number=int(input("enter a number greater than 0:"))
if number%2==0:
    if number>=2 and number <=5:
        print("small.")
    elif number>=6 and number<=20:
        print('medium.')
    else:
        print('big.')
else:
    print('odd.')
#If n is odd, print odd
#If n is even and in the inclusive range of 2 to 5, print small
#If n is even and in the inclusive range of 6 to 20, print medium
#If n is even and greater than 20, print big

enter a number greater than 0:46
big.

# while loop

In [23]:
# print first 10 numbers 
i=0
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [32]:
# find average and sum for first 10 numbers 
i=0
count=0
tsum=0
while i<=10:
    count=count+1
    tsum=tsum+i
    i=i+1
print("Total sum is:",tsum)
print("Average is %1d" %(tsum/count))

Total sum is: 55
Average is 5

In [30]:
#Draw a line using while loop 
i=0
while i<=10:
    print('',end='_')
    i+=1

___________

In [31]:
#calculate the sum of m to n  numbers using input
first_number=int(input("Enter the first number."))
second_number=int(input("Enter the second number."))
total=0
while first_number<=second_number:
    total=total+first_number
    first_number+=1
print("Sum of all numbers from m to n inclusive is:",total)

Enter the first number.34
Enter the second number.45
Sum of all numbers from m to n inclusive is: 474

In [36]:
# countdown 10 to 0 using input
i=10
while i>=0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0

# for loop

In [39]:
#Multiplication table using input
number=int(input("enter a number greater than 0:"))
for i in range(1,11):
    print("The multiplication of {0} * {1} is {2}".format(number,i,number*i))

enter a number greater than 0:11
The multiplication of 11 * 1 is 11
The multiplication of 11 * 2 is 22
The multiplication of 11 * 3 is 33
The multiplication of 11 * 4 is 44
The multiplication of 11 * 5 is 55
The multiplication of 11 * 6 is 66
The multiplication of 11 * 7 is 77
The multiplication of 11 * 8 is 88
The multiplication of 11 * 9 is 99
The multiplication of 11 * 10 is 110

In [40]:
#print even and odd for range of number
for i in range(20,42):
    if i%2==0:
        print("even.")
    else:
        print("odd.")

even.
odd.
even.
odd.
even.
odd.
even.
odd.
even.
odd.
even.
odd.
even.
odd.
even.
odd.
even.
odd.
even.
odd.
even.
odd.

In [41]:
# break statement
for i in range(1,10):
    if i==6:
        break
    print(i)

0
1
2
3
4
5

In [44]:
#countinue statement 
for i in range(1,12):
    if i==4:
        print("this number is missing.")
        continue
    print(i)

1
2
3
this number is missing.
5
6
7
8
9
10
11

In [57]:
# all leap years from 1800 - 2021
count=0
for i in range(1800,2021):
    if i%4==0:
        if i%100!=0:
            print("{} is a leap year.".format(i))
            count+=1
        elif i%400==0:
            print("{} is a leap year.".format(i))
            count+=1
        else:
            pass
    else:
        pass
print(f"Total number of leap years:{count}")

1804 is a leap year.
1808 is a leap year.
1812 is a leap year.
1816 is a leap year.
1820 is a leap year.
1824 is a leap year.
1828 is a leap year.
1832 is a leap year.
1836 is a leap year.
1840 is a leap year.
1844 is a leap year.
1848 is a leap year.
1852 is a leap year.
1856 is a leap year.
1860 is a leap year.
1864 is a leap year.
1868 is a leap year.
1872 is a leap year.
1876 is a leap year.
1880 is a leap year.
1884 is a leap year.
1888 is a leap year.
1892 is a leap year.
1896 is a leap year.
1904 is a leap year.
1908 is a leap year.
1912 is a leap year.
1916 is a leap year.
1920 is a leap year.
1924 is a leap year.
1928 is a leap year.
1932 is a leap year.
1936 is a leap year.
1940 is a leap year.
1944 is a leap year.
1948 is a leap year.
1952 is a leap year.
1956 is a leap year.
1960 is a leap year.
1964 is a leap year.
1968 is a leap year.
1972 is a leap year.
1976 is a leap year.
1980 is a leap year.
1984 is a leap year.
1988 is a leap year.
1992 is a leap year.
1996 is a leap year.
2000 is a leap year.
2004 is a leap year.
2008 is a leap year.
2012 is a leap year.
2016 is a leap year.
2020 is a leap year.
Total number of leap years:54

# User defined function

In [5]:
#creating arethematic operators using user defined functions
from functools import reduce
def arithmetic(*args,operator='+'):
    if operator=='+':
        return sum(args)
    if operator=='-':
        return reduce(lambda x,y:x-y,args)
    if operator=='*':
        return reduce(lambda x,y:x*y,args)
    else:
        print("these opeartors are of out of bound.")
arithmetic(1,2,3,4,6,7,9,10,operator='*')

90720

In [6]:
#Welcome With input 
def hello():
    a=input("Enter a String:")
    return(a)
hello()

Enter a String:Welcome to python lets get deep into it.

'Welcome to python lets get deep into it.'

# Lambda function

In [8]:
# sum using lambda function 
sub=lambda x,y:x-y
sub(9,8)

1

In [12]:
# create a list using loop
# Create a list of first 10 number using list comprehension
list10=[i for i in range(1,11)]
print(list10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# select all the even number form the list with filter()
print(list(filter(lambda x:x%2==0,list10)))

[2, 4, 6, 8, 10]

In [15]:
# get  the squiares of numbers form the list with map()
print(list(map(lambda x:x**2,list10)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
#get the sum of numbers of the list using reduce()
reduce(lambda x,y:x)

In [ ]:
a=1
type()