In [1]:
def add(a,b):
    return a+b

In [2]:
add(3,5)

8

In [3]:
y=add(6,7)

In [4]:
print(y)

13

In [5]:
def add(a,b):
    if type(a)==type(b):
        return a+b
    else:
        print("Enter the two parameters to be of same type.")
x=add(1.5,3)

Enter the two parameters to be of same type.

In [6]:
def oper(a,b):
    sum=a+b
    mul=a*b
    return (sum,mul)

In [7]:
oper(7,12)

(19, 84)

In [8]:
sum,mul=oper(8,14)
print(sum)
print(mul)

22
112

In [34]:
def hello():
    '''
    prints "HelloWorld"
    returns None
    '''
    print("Hello World!")

In [35]:
hello()

Hello World!

In [36]:
help(hello)

Help on function hello in module __main__:

hello()
    prints "HelloWorld"
    returns None

In [37]:
def multiply(**kwargs):
    mul=1
    for each in kwargs.values():
        mul=mul*each
    return mul

In [38]:
multiply(a=1,b=2,c=5,d=6,e=78,f=9)

42120

In [39]:
def some_args(args1,args2,args3):
    print('kargs1:',args1)
    print('kargs2:',args2)
    print('kargs3:',args3)
kw={'args1':'vl','args2':'vseq2','args3':'vcbf'}
some_args(**kw)

kargs1: vl
kargs2: vseq2
kargs3: vcbf

In [40]:
x=10
y=20
def sum():
    global z
    z=25
    print(x)
    print(y)
    print(z)
sum()
print(x,y,z)

10
20
25
10 20 25

In [41]:
sum=lambda x,y:x+y

In [42]:
sum(5,6)

11

In [43]:
inputs=[1,2,3,4,5,6]
output=list(filter(lambda x:x<=4,inputs))
print(output)

[1, 2, 3, 4]

In [44]:
output=list(map(lambda x:x**2,inputs))

In [45]:
print(output)

[1, 4, 9, 16, 25, 36]

In [46]:
from functools import reduce
output=reduce((lambda x,y:x*y),inputs)

In [47]:
print(output)

720

In [48]:
sum=lambda x,y:x+y

In [49]:
sum(7,8)

15

In [50]:
items =[1,2,3,4,5]
sup=[]
for each in items:
    sup.append(each**2)
print(sup)

[1, 4, 9, 16, 25]

In [52]:
print(list(map(lambda x:x**2,items)))

[1, 4, 9, 16, 25]

In [53]:
number_list=range(-5,5)
print(number_list)

range(-5, 5)

In [54]:
list(map(lambda x:x<0,number_list))

[True, True, True, True, True, False, False, False, False, False]

In [55]:
list(filter(lambda x:x<0,number_list))

[-5, -4, -3, -2, -1]

In [56]:
from functools import reduce

In [57]:
reduce(lambda x,y:x+y,[1,2,3,4,5,6,7,8,9,10])

55

In [60]:
def main():
    print('Yehi hai Main function hamara trial2 jupyter notebook ka.')

In [61]:
main()

Yehi hai Main function hamara trial2 jupyter notebook ka.

In [62]:
d={'Salary':[10,12,13,20,14],
  'exp':[2,3,3,4,3.5],
  "Designation":['DA',"DS",'DS','SDS','DS']}

In [63]:
d

{'Salary': [10, 12, 13, 20, 14],
 'exp': [2, 3, 3, 4, 3.5],
 'Designation': ['DA', 'DS', 'DS', 'SDS', 'DS']}

In [64]:
import pandas as pd

In [66]:
data=pd.DataFrame(d)

In [67]:
data

   Salary  exp Designation
0      10  2.0          DA
1      12  3.0          DS
2      13  3.0          DS
3      20  4.0         SDS
4      14  3.5          DS

In [68]:
data['Salary'].mean()

13.8

In [69]:
data['exp'].mean()

3.1

In [73]:
type(data)

pandas.core.frame.DataFrame

In [74]:
type(data['Salary'])

pandas.core.series.Series

In [85]:
data.iloc[2:,:2]

   Salary  exp
2      13  3.0
3      20  4.0
4      14  3.5

In [ ]:
class ProfitChecker:
    def __init__(self,rev,cos):
        self.rev=rev
        self.cos=cos
    def check(self):
        if self.rev>self.cos:
            profit=self.rev-self.cos
            return profit
        else:
            print('loss')

In [ ]:
ProfitChecker(80,110)

In [12]:
class complete:
    class1='yes'
    def __init__(self,name,section):
        self.name=name
        self.section=section
    @classmethod    
    def class12(cls):
        print("You know the syntax for class method.")
    @staticmethod
    def static12(a,b):
        print("static method product is:",a*b)
    def instance12(self):
        print(f"My name is {self.name} and I belong to {self.section}")

In [13]:
s1=complete('Abhilaash','Co-IPL')
s1.instance12()
print(s1.class1)
s1.class12()
s1.static12(3,4)

My name is Abhilaash and I belong to Co-IPL
yes
You know the syntax for class method.
static method product is: 12