# Python Keywords

Keywords are the reserved words in Python.

![](key.png)

# Python Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one from another.

Rules for writing identifiers

Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.
1. An identifier cannot start with a digit. 
2. 1variable is invalid, but variable1 is a valid name.
3. Keywords cannot be used as identifiers.

In [2]:
#Calculator
kanth = 10/20

In [3]:
print(kanth)

0.5

In [ ]:
#Inbuilt Data Structure, List, Tuple, Set & Dict

In [4]:
#List is 1D Data Structure & The data in list is mutable
aa = []

In [5]:
type(aa)

list

In [6]:
aa = [5,4,7,8,3.4,'Hai']

In [7]:
type(aa)

list

In [8]:
len(aa)

6

In [9]:
#Indexing
aa[5]

'Hai'

In [10]:
aa[3]

8

In [11]:
aa[-3]

8

In [12]:
aa[:6]

[5, 4, 7, 8, 3.4, 'Hai']

In [13]:
aa[1:5]

[4, 7, 8, 3.4]

In [14]:
aa[3:]

[8, 3.4, 'Hai']

In [15]:
aa[5] = "May Batch"

In [16]:
aa

[5, 4, 7, 8, 3.4, 'May Batch']

In [17]:
#Tuple is also a 1D Data Structure, It is immutable
b = ()

In [18]:
type(b)

tuple

In [19]:
b = (5,4,7,8,3.4,'Hai')

In [20]:
b[5]

'Hai'

In [21]:
b[5] = "May Batch"

TypeError: 'tuple' object does not support item assignment

In [22]:
#Set is not a data type
c = {3,4,3,5,6,7,5,4,2,1,2,3,4,5,7,8,9,0}

In [23]:
c

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
c[0]

TypeError: 'set' object is not subscriptable

In [26]:
c_list = list(c)

In [27]:
c_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
c_list[0]

0

In [29]:
ab = [3,4,3,5,6,7,5,4,2,1,2,3,4,5,7,8,9,0]

In [30]:
ab

[3, 4, 3, 5, 6, 7, 5, 4, 2, 1, 2, 3, 4, 5, 7, 8, 9, 0]

In [31]:
ab_set = set(ab)

In [32]:
ab_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
ab_tup = tuple(ab_set)

In [34]:
ab_tup

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [38]:
nest_a = [3,4,5,6,3,[6,7,9], "Mani"]

In [37]:
nest_a[5][1]

7

In [39]:
nest_a[6]

'Mani'

In [40]:
nest_a[6][0]

'M'

In [42]:
c_e = set()

In [41]:
#Dict is 2-D Data Structure, Key & a Value Pair Format
d = {"Salary": [10, 12, 13,20,14], "Exp":[2,3,3,4,3.5], "Desig":["DA","DS","DS","SDS","DS"]}

In [43]:
d

{'Salary': [10, 12, 13, 20, 14],
 'Exp': [2, 3, 3, 4, 3.5],
 'Desig': ['DA', 'DS', 'DS', 'SDS', 'DS']}

In [46]:
d["Salary"][3]

20

In [47]:
import pandas as pd

In [48]:
#Pandas commands dont work on dict datatype
d["Salary"].mean()

AttributeError: 'list' object has no attribute 'mean'

In [50]:
#converting dict to dataframe(2D Data type in Pandas)
e = pd.DataFrame(d)

In [51]:
e

   Salary  Exp Desig
0      10  2.0    DA
1      12  3.0    DS
2      13  3.0    DS
3      20  4.0   SDS
4      14  3.5    DS

In [53]:
e['Salary'].mean()

13.8

In [55]:
e['Exp'].mean()

3.1

In [56]:
#Lets Breakdown the Data Frame
type(e)

pandas.core.frame.DataFrame

In [57]:
type(e['Salary'])

pandas.core.series.Series

In [58]:
type(e.iloc[0])

pandas.core.series.Series

In [67]:
type(e.iloc[1,0])

numpy.int64

In [68]:
f = {"List": aa, "Tuple": b, "Set": c, "dict": d, "DataFrame": e}

In [69]:
f

{'List': [5, 4, 7, 8, 3.4, 'May Batch'],
 'Tuple': (5, 4, 7, 8, 3.4, 'Hai'),
 'Set': {0, 1, 2, 3, 4, 5, 6, 7, 8, 9},
 'dict': {'Salary': [10, 12, 13, 20, 14],
  'Exp': [2, 3, 3, 4, 3.5],
  'Desig': ['DA', 'DS', 'DS', 'SDS', 'DS']},
 'DataFrame':    Salary  Exp Desig
 0      10  2.0    DA
 1      12  3.0    DS
 2      13  3.0    DS
 3      20  4.0   SDS
 4      14  3.5    DS}

In [70]:
f['dict']

{'Salary': [10, 12, 13, 20, 14],
 'Exp': [2, 3, 3, 4, 3.5],
 'Desig': ['DA', 'DS', 'DS', 'SDS', 'DS']}

In [73]:
f['dict']['Salary'][4]

14